<form class="filters" [formGroup]="inputForms">
  <input type="text" placeholder="Company name" class="company_name" name="inputCompany" formControlName="inputCompany" (change)="detectCreate()">
  <h1>Company type:</h1>
  <select name="inputIndustry" id="type_company" formControlName="inputIndustry" (change)="detectCreate()">
    <option value="">Choose type of company</option>
    @for(type of inputType; track type){
      <option value="{{type}}">{{type}}</option>
    }
  </select>
  <h1>Company industry:</h1>
  <select name="inputType" id="industry_company" formControlName="inputType" (change)="detectCreate()">
    <option value="">Choose industry of company</option>
    @for(industry of inputIndustry; track industry){
      <option value="{{industry}}">{{industry}}</option>
    }
  </select>
</form>
